<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dermoth.com</h1>
    <p>Hi. This is a personal website, intended solely for my personal use. (I mainly use it to log darts practice sessions). If you're looking to access some of that primo* paywalled** content, contact me at (dermoth at gmail dot com) and I'll hook you up.</p>

    <p>* to reiterate: darts practice app</p>
    <p>** there's not an actual paywall, I'm just being witholding</p>
</body>
</html>